.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    background-color: var(--bg-colour-t);
    border-bottom: .8rem solid var(--primary-accent);
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding: 2.4rem;
}

@media (min-width: 550px) {
  .navbarContainer {
    max-width: 550px;
  }
}
@media (min-width: 800px) {
  .navbarContainer {
    max-width: 800px;
  }
}
@media (min-width: 1100px) {
  .navbarContainer {
    max-width: 1100px;
  }
}
@media (min-width: 1400px) {
  .navbarContainer {
    max-width: 1400px;
  }
}
@media (min-width: 1600px) {
  .navbarContainer {
    max-width: 1600px;
  }
}

@media (max-width: 600px) {
    .navbarContainer {
        width: 100%;
    }    
}

.logoContainer {
    display: flex;
    padding: 1rem;
}

.navbarLogo {
    width: auto;
    height: 3.2rem;
}

.bulb {
    fill: var(--icon-colour);
}

.name {
    fill: var(--logo-text-colour);
}

.themeToggle {
    display: flex;
    padding-bottom: .5rem;
    border-radius: 1.5rem;
    padding: 1rem;
}

.themeToggle:hover {
    background-color: var(--bg-colour-2);
    box-shadow: 0 .2rem .3rem var(--button-shadow);
}

.themeToggle:active {
    box-shadow: none;
}

.themeToggle:hover svg {
    fill: var(--icon-focus-fill);
}

.logoContainer:hover .bulb {
    animation-duration: .15s;
    animation-name: flicker;
    animation-iteration-count: 5;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes flicker {
    from { 
        fill: var(--bg-colour);
    }

    to {
        fill: var(--brand-orange);
        filter: drop-shadow(.8rem .8rem .8rem var(--brand-orange));
    } 
}

.logoContainer:hover .name {
    transition-duration: .5s;
    fill: var(--brand-blue);
    transition-timing-function: ease-in;
}

.display, .moon, .sun {
    height: 2.4rem;
    color: var(--icon-colour);
}