.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    border-bottom: 1px solid var(--accent-2);
    -webkit-backdrop-filter: blur(1.5rem);
    backdrop-filter: blur(1.5rem);
    background-color: var(--bg-colour-t);
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100rem;
    width: 100%;
}

@media(min-width: 2200px) {
    .navbarContainer {
        max-width: 200rem;
    }
}

.logoContainer {
    display: flex;
    padding-right: 5.2rem;
}

.navbarLogo {
    width: 9rem;
    height: auto;
}

.bulb, .name {
    fill: var(--text-colour);
}

@media (max-width: 901px) {
    .navMenu {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        padding: 10rem 4rem 4rem 4rem;
        position: fixed;
        inset: 0 0 0 0;
        height: 100vh;
        background-color: var(--bg-colour);
        opacity: 0;
        z-index: -100;
    }
    
    .navMenu.active {
        transform: translateX(0%);
        opacity: .98;
        transition: all 0.3s ease-out;
    }

    .navMenu a {
        border-bottom: 1px solid var(--accent-2);
    }

    .themeSelect {
        display: none;
    }

    .menuIcon, .themeToggle {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .themeToggle {
        padding: .5rem;
    }

    .menuIcon {
        z-index: 1000;
    }

    .logoContainer {
        padding-right: 0;
    }
    
}

.navLinks {
    font-size: var(--font-size--default);
    color: var(--text-colour);
    font-weight: 700;
    padding: 1rem;
    border-radius: 1.5rem;
}

.logoContainer:hover .bulb {
    animation-duration: .15s;
    animation-name: flicker;
    animation-iteration-count: 5;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes flicker {
    from { 
        fill: var(--bg-colour);
    }

    to {
        fill: var(--brand-orange);
        filter: drop-shadow(.8rem .8rem .8rem var(--brand-orange));
    } 
}

.logoContainer:hover .name {
    transition-duration: .5s;
    fill: var(--brand-blue);
    transition-timing-function: ease-in;
}

body[data-theme="dark"] .logoContainer:hover .name {
    fill: var(--blue-200);
}

@media (min-width:901px) {
    .menuIcon, .themeToggle {
        display: none;
    }
    
    .themeSelect {
        display: block;
        max-width: 14rem;
    }

    .navMenu {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    
    .navLinks:hover {
        transition: all 0.2s ease-out;
        background-color: var(--card-border);
    }
}

@media (prefers-reduced-motion) {
    .navMenu {
        transition: all 0s ease-out;
    }
}