.footerSection {
    background-color: var(--bg-colour-2);
    color: var(--text-colour);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.2rem;
    gap: 3.2rem;
}

.footerSection section {
    width: 100%;
}

.socialMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
}

.iconsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
}

.iconsContainer a {
    display: flex;
}

.footerLogo {
    width: auto;
    height: 3.2rem;
}

.bulb {
    fill: var(--icon-colour);
}

.name {
    fill: var(--logo-text-colour);
}

.socialIcons {
    display: flex;
    gap: 1.2rem;
}

.socialIcons a:hover svg {
    fill: var(--icon-focus-fill);
}

.socialIcons a {
    display: flex;
    padding: 1rem;
    border-radius: 1.5rem;
    transition: all 0.2s ease-out;
}

.socialIcons a:hover {
    background-color: var(--bg-colour);
    box-shadow: 0 .2rem .3rem var(--button-shadow);
}

.socialIcons a:active {
    box-shadow: none;
}

.websiteRights {
    font-size: 1rem;
    color: var(--accent-1);
}

.logoContainer:hover .bulb {
    animation-duration: .15s;
    animation-name: flicker;
    animation-iteration-count: 5;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes flicker {
    from { 
        fill: var(--bg-colour-2);
    }

    to {
        fill: var(--brand-orange);
        filter: drop-shadow(.8rem .8rem .8rem var(--brand-orange));
    } 
}

.logoContainer:hover .name {
    transition-duration: .5s;
    fill: var(--brand-blue);
    transition-timing-function: ease-in;
}

@media (min-width: 830px) {
    .iconsContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        max-width: 100rem;
    }

    .socialIcons {
        gap: 1.2rem;
    }
}