h1 span {
    display: block;
    font-family: sergoe-black;
    font-size: 3.8rem;
    color: var(--text-colour);
}

.home {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    padding-top: 2rem;
    grid-template-areas: 
    "title"
    "dashboards";
}

.title {
    grid-area: title;
}

.title, .dashboards h2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.dashboards {
    grid-area: dashboards;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.dashboard-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.dashboards h2 {
    font-size: 2.4rem;
    color: var(--text-colour);
    font-family: Sergoe;
}


@font-face {
    font-family: sergoe-black;
    src: url(../../Asset/seguibl.ttf);
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 .one {
    animation-duration: 6s;
    animation-name: change-colour;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes change-colour {
    from { 
        color: var(--text-colour);
    }

    40% {
        color: var(--brand-orange);        
        text-shadow: 0 0 5rem var(--brand-orange);
    }

    50% {
        color: var(--text-colour);
    }

    to {
        color: var(--text-colour);
    }  
}

h1 .two {
    animation-duration: 6s;
    animation-name: change-colour-two;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-delay: 2s;
}


h1 .three {
    animation-duration: 6s;
    animation-name: change-colour-two;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-delay: 4s;
}

@keyframes change-colour-two {
    from { 
        color: var(--text-colour);
    }

    40% {
        color: var(--brand-blue);            
        text-shadow: 0 0 2rem var(--brand-blue);
    }

    50% {
        color: var(--text-colour);
    }

    to {
        color: var(--text-colour);
    } 
}

.stop-search {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../Asset/stop_search.jpg);
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dashboard-content   {
    color: var(--text-colour);
}

.text-card {
    background-color: var(--bg-colour-2);
    padding: 1rem;
    width: clamp(200px, 50%, 300px);
    font-family: Sergoe;
}

.text-card p {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.text-card a:visited {
    color: var(--text-colour);
}

.text-card a:hover {
    color: var(--brand-orange);
}

.dashboard-content h3 {
    font-size: 1.8rem;
    font-family: Sergoe;
}

.dashboard-content p, .dashboard-content a {
    font-size: 1.6rem;
}

@media (min-width: 470px) and (max-width: 590px) {
    h1 span {
        font-size: 5.6rem;
    }
}

@media(min-width: 590px) {
    h1 span {
        font-size: 7.2rem;
    }
}