h1 span {
    display: block;
    font-family: sergoe-black;
    font-size: 72px;
}

.home {
    display: grid;
    background-color: lightblue;
    grid-template-columns: max(570px, 100%);
    row-gap: 20px;
    grid-template-areas: 
    "title"
    "dashboards";

}

.home > div, h1 span {
    border: 10px solid blueviolet;
} 

.title {
    grid-area: title;
}

.dashboards {
    grid-area: dashboards;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.dashboard-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

@font-face {
    font-family: sergoe-black;
    src: url(../../Asset/seguibl.ttf);
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 .one {
    animation-duration: 6s;
    animation-name: change-colour;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes change-colour {
    from { 
        color: black;
    }

    40% {
        color: #f9a31a;
    }

    50% {
        color: black;
    }

    to {
        color: black;
    }  
}

h1 .two {
    animation-duration: 6s;
    animation-name: change-colour-two;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-delay: 2s;
}


h1 .three {
    animation-duration: 6s;
    animation-name: change-colour-two;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-delay: 4s;
}

@keyframes change-colour-two {
    from { 
        color: black;
    }

    40% {
        color: #292974;
    }

    50% {
        color: black;
    }

    to {
        color: black;
    } 
}

.stop-search {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../Asset/stop_search.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: calc(100vw - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dashboard-content   {
    color: white;
}

.text-card {
    background-color: #333;
}