.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    border-bottom: 1px solid var(--accent-2);
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(.75rem);
    background-color: var(--bg-colour-t);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100rem;
    width: 100%;
}

@media(min-width: 2200px) {
    .navbar-container {
        max-width: 200rem;
    }
}

.logo-container {
    display: flex;
}

.logo-container path {
    fill: var(--text-colour);
}

@media (max-width: 831px) {
    .nav-menu {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 10rem 4rem 4rem 4rem;
    position: fixed;
    inset: 0 0 0 0;
    height: 100vh;
    transform: translateX(-100%);
    background-color: var(--bg-colour);
    opacity: .98;
    transition: all 0.5s ease-out;
    }

    .nav-menu.active {
        transform: translateX(0%);
    }

    .nav-menu a {
        border-bottom: 1px solid var(--accent-2);
    }

    .theme-select {
        display: none;
    }

    .menu-icon, .theme-toggle {
        cursor: pointer;
    }

    .menu-icon {
        z-index: 1000;
    }

    .menu-icon, .theme-toggle {
        display: block;
    }    
}

.nav-links {
    font-size: 1.6rem;
    color: var(--text-colour);
}

.logo-container:hover .bulb, .footer-logo:hover .bulb {
    animation-duration: .15s;
    animation-name: flicker;
    animation-iteration-count: 5;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes flicker {
    from { 
        fill: var(--bg-colour);
    }

    to {
        fill: var(--brand-orange);
        filter: drop-shadow(.8rem .8rem .8rem var(--brand-orange));
    } 
}

.logo-container:hover .name, .footer-logo:hover .name {
    transition-duration: .5s;
    fill: var(--brand-blue);
    transition-timing-function: ease-in;
}

body.dark .logo-container:hover .name, body.dark .footer-logo:hover .name {
    fill: var(--blue-200);
}

@media (min-width:831px) {
    .menu-icon, .theme-toggle {
        display: none;
    }
    
    .theme-select {
        display: block;
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    
    .nav-links:hover {
        border-bottom: 4px solid var(--text-colour);
        transition: all 0.2s ease-out;
    }
    
    .theme-select > .select > span > div > span {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1.5rem;
        width: 100%;
    }
    
    .theme-dropdown > div > span {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1.5rem;
        width: 100%;
    }
}