input {
    display: block;
}

.inputs input {
    margin-top: .5rem
}

.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px 
}

.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-title {
    display: flex;
    justify-content: center;
    align-items: center;   
}