ul#pages-menu li {
  display:inline-block;
}

.logo-container, #pages-menu, .global-nav {
  height: 50px;
  padding: 16px;
  display: flex;
}

.logo-container {
  align-items: center;
}

#pages-menu, .global-nav  {
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex: 1;
}


input:invalid {
    border-color: red;
  }
  
input:valid {
    border-color: green;
  }