.datePicker input {
    height: 3.6rem;
    font-size: 1.2rem;
    text-align: center;
}

.month-select {
    display: flex;
    align-items: center;
}

.monthly-stop-search-figure {
    background-color: var(--bg-colour-2);
    padding: 1.5rem;
    border-radius: 1rem;
}

.stop-search-no, .percentage-change {
    font-size: 2.2rem;
    display: flex;
    gap: 3rem;
    align-items: center;
}

.stop-search-no {
    font-size: 3.2rem;
}

.percentage-change {
    gap: 1rem;
}

.view1 .figure-title {
    font-size: 1.4rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
}

.view1 .figure-title > svg {
    width: 1.8rem;
    height: auto;
}

.negative {
    color: var(--red);
}

.positive {
    color: var(--green);
}

.chart {
    border: solid 1px #fff;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--bg-colour-2);
    width: 100%;
    min-height: 472px;
}

.charts {
    width: 100%;
}

.chart svg.main-svg {
    width: 100%;
}

.select {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
}

.force-select, .month-select {
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    width: 7rem;
}

h4 {
    font-size: 1.6rem;
}

.avatar-images {
    display: flex;
    gap: 2rem;
}

.stop-search-dashboard {
    display: grid;
    grid-template-columns: 1fr;
    grid-area: 
    "select"
    "stop-search-count"
    "charts"
    "contributors";
    gap: 2rem;
}

.select {
    grid-area: "select";
}

.monthly-stop-search-figure {
    grid-area: "stop-search-count";
}

#charts {
    grid-area: "charts";
}

.contributors {
    grid-area: "contributors";
}

@media(min-width: 1000px) {
    .charts {
        display: grid;
        grid-auto-columns: minmax(20rem, 1fr);
        grid-auto-flow: column;
        gap: 2rem;
        background-color: aqua;
    }

    .chart:nth-child(2n + 1) {
        grid-column: 1;
    }
}