html,
body {
  padding: 0;
  margin: 0;
  font-family: 'var(--rubik-font)';
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  font-size: 62.5%; /* (62.5/100) * 16px = 10px */
  --font-size--small: 1.4rem;
  --font-size--default: 1.6rem;
  --font-size--ml: 2rem;
  --font-size--large: 2.4rem;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
}

.page-main {
  flex-grow: 1;
  margin-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4.8rem 3.2rem 4.8rem;
}

body {
  /*Primary*/ 
  --blue-050: #DCEEFB;
  --blue-100: #b6e0fe;
  --blue-200: #84C5F4;
  --blue-300: #62B0E8;
  --blue-400: #4098D7;
  --blue-500: #2680C2;
  --blue-600: #186FAF;
  --blue-700: #0F609B;
  --blue-800: #0A558C;
  --blue-900: #003E6B; 
  
  --yellow-vivid-050: #FFFBEA;
  --yellow-vivid-100: #FFF3C4;
  --yellow-vivid-200: #FCE588;
  --yellow-vivid-300: #FADB5F;
  --yellow-vivid-400: #F7C948;
  --yellow-vivid-500: #F0B429;
  --yellow-vivid-600: #DE911D;
  --yellow-vivid-700: #CB6E17;
  --yellow-vivid-800: #B44D12;
  --yellow-vivid-900: #8D2B0B;

  /*Neutrals*/
  --cool-grey-050: #F5F7FA;
  --cool-grey-100: #e5e8eb;
  --cool-grey-200: #CBD2D9;
  --cool-grey-300: #9AA5B1;
  --cool-grey-400: #7B8794;
  --cool-grey-500: #616E7C;
  --cool-grey-600: #52606D;
  --cool-grey-700: #3E4C59;
  --cool-grey-800: #323F4B;
  --cool-grey-900: #1f2933; 

  --grey-050: #F7F7F7;
  --grey-100: #E1E1E1;
  --grey-200: #CFCFCF;
  --grey-300: #B1B1B1;
  --grey-400: #9E9E9E;
  --grey-500: #7E7E7E;
  --grey-600: #626262;
  --grey-700: #515151;
  --grey-800: #3B3B3B;
  --grey-900: hsl(0, 0%, 13%); 

  /*Supporting*/ 
  --teal-vivid-050: #F0FCF9;
  --teal-vivid-100: #C6F7E9;
  --teal-vivid-200: #8EEDD1;
  --teal-vivid-300: #5FE3C0;
  --teal-vivid-400: #2DCCA7;
  --teal-vivid-500: #17B897;
  --teal-vivid-600: #079A82;
  --teal-vivid-700: #048271;
  --teal-vivid-800: #016457;
  --teal-vivid-900: #004440;  

  --red-050: #FFEEEE;
  --red-100: #FACDCD;
  --red-200: #F29B9B;
  --red-300: #E66A6A;
  --red-400: #D64545;
  --red-500: #BA2525;
  --red-600: #A61B1B;
  --red-700: #911111;
  --red-800: #780A0A;
  --red-900: #610404;  

  --yellow-050: #FFFAEB;
  --yellow-100: #FCEFC7;
  --yellow-200: #F8E3A3;
  --yellow-300: #F9DA8B;
  --yellow-400: #F7D070;
  --yellow-500: #E9B949;
  --yellow-600: #C99A2E;
  --yellow-700: #A27C1A;
  --yellow-800: #7C5E10;
  --yellow-900: #513C06;  
}

body[data-theme="dark"] {
  color-scheme: dark;
  --bg-colour: var(--grey-900);
  --bg-colour-t: hsla(0, 0%, 13%, 0.8);
  --bg-colour-2: var(--grey-900);
  --text-colour: #C1C2C5;
  --support-text-colour: var(--grey-500);
  --icon-colour: var(--cool-grey-400);
  --logo-text-colour: var(--cool-grey-500);
  --brand-orange: var(--yellow-vivid-600);
  --brand-blue: var(--blue-400);
  --primary-accent: var(--blue-900);
  --accent-1: #888;
  --accent-2: #333;
  --green: #80cbc3;
  --red: #ef9a9a;
  --divider-colour: #373A40;
  --card-border: #373A40;
  --icon-focus-fill: var(--cool-grey-500);
  --coarse-shadow: hsla(0, 0%, 0%, 0.1); 
  --fine-shadow: hsla(0, 0%, 0%, 0.05);
  --button-shadow: hsla(0, 0%, 0%, 0.2);
  --button-inset-colour: var(--blue-800);
  --button-inset-colour-2: var(--blue-050);
  --input-inset-colour: var(--cool-grey-100);
  --input-inset-focus-colour: var(--cool-grey-100);
  color: var(--text-colour);
  background-color: var(--bg-colour);
}

body[data-theme="light"] {
  color-scheme: light;
  --bg-colour: var(--cool-grey-100);
  --bg-colour-t: hsl(214, 15%, 91%, .8);
  --bg-colour-2: var(--cool-grey-200);
  --text-colour: var(--cool-grey-900);
  --support-text-colour: var(--cool-grey-400);
  --icon-colour: var(--cool-grey-700);
  --logo-text-colour: var(--cool-grey-800);
  --brand-orange: var(--yellow-vivid-600);
  --brand-blue: var(--blue-900);
  --primary-accent: var(--blue-900);
  --accent-1: #888;
  --accent-2: #eaeaea;
  --green: #26A69A;
  --red: #EF5350;
  --divider-colour: #ced4da;
  --card-border: #DEE2E6;
  --icon-focus-fill: var(--cool-grey-300);
  --coarse-shadow: hsla(0, 0%, 0%, 0.1); 
  --fine-shadow: hsla(0, 0%, 0%, 0.05);
  --button-shadow: hsla(0, 0%, 0%, 0.2);
  --button-inset-colour: var(--blue-600);
  --button-inset-colour-2: var(--blue-050);
  --input-inset-colour: var(--cool-grey-100);
  --input-inset-focus-colour: var(--cool-grey-050);
  color: var(--text-colour);
  background-color: var(--bg-colour);
}

@media (min-width: 800px) {
  .MuiTextField-root{
    width: 30rem;
  }
}

.MuiInputBase-root {
  background-color: var(--bg-colour);
  box-shadow: inset 0 .2rem .2rem var(--coarse-shadow), 0 .2rem 0 var(--input-inset-focus-colour);
}

.MuiInputBase-root.Mui-focused {
  background-color: #fff;
}