input {
    display: block;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem; 
}

.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    text-align: center;  
}

.signup-form {
    padding: 2rem;
}
.signup-form form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}