* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Sergoe;
}

@font-face {
    font-family: Sergoe;
    src: url(./Asset/Segoe-UI.ttf);
}

:root {
    font-size: 62.5%; /* (62.5/100) * 16px = 10px */
    --font-size--small: 1.4rem; /* 14px */
    --font-size--default: 1.6rem; /* 16px */
    --font-size--large: 2.4rem; /* 24px */
}

body.dark {
    --bg-colour: #121212;
    --text-colour: #fff;
    background-color: var(--bg-colour);
}

body.light {
    --bg-colour: #fff;
    --text-colour: black;
    background-color: var(--bg-colour);
}