html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: Sergoe;
}

@font-face {
    font-family: Sergoe;
    src: url(./Asset/Segoe-UI.ttf);
}

:root {
    font-size: 62.5%; /* (62.5/100) * 16px = 10px */
    --font-size--small: 1.4rem; /* 14px */
    --font-size--default: 1.6rem; /* 16px */
    --font-size--large: 2.4rem; /* 24px */
}

body.dark {
    --bg-colour: #000;
    --bg-colour-2: #1c1c1e;
    --text-colour: #fff;
    --brand-orange: #f9a31a;
    --brand-blue: #292974;
    --blue-200: #A3ABD6;
    --accent-1: #888;
    --accent-2: #333;
    background-color: var(--bg-colour);
}

body.light {
    --bg-colour: #fff;
    --bg-colour-2: #f2f2f6;
    --text-colour: #000;
    --brand-orange: #f9a31a;
    --brand-blue: #292974;
    --accent-1: #888;
    --accent-2: #333;
    background-color: var(--bg-colour);
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-main {
    flex-grow: 1;
}