.footer-section {
    background-color: var(--bg-colour-2);
    color: var(--text-colour);
    display: flex;
    flex-direction: column;
    align-items: center;
}

svg.footer {
    width: 12rem;
    height: auto;
}

.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.social-icons {
    display: flex;
    gap: 1.5rem;
}

.footer-logo path {
    fill: var(--text-colour);
}

.footer-section section {
    border-top: 1px solid var(--accent-1);
    width: 100%;
}

.social-media {
    padding: 2rem;
}

.website-rights {
    font-size: 1rem;
    color: var(--accent-1);
}

.logos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

@media (min-width: 830px) {
    .logos-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 80%;
        max-width: 150rem;
    }

    .social-icons {
        gap: 5rem;
    }
}